/* -----------------------------------------------------
   created with https://www.codeandweb.com/texturepacker 
   -----------------------------------------------------
   $TexturePacker:SmartUpdate:5fbffaf680e0aadf5bedc78e5f684675:0854f669d75f97cadc69164bd5cfb3dc:652d447548d6536f30b70b56c573ebe8$
   -----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite500-689 {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(/images/skills/skillicon500_689.png);}

.UISkillIcon500 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon501 {width:56px; height:56px; background-position: -1px -59px}
.UISkillIcon502 {width:56px; height:56px; background-position: -1px -59px}
.UISkillIcon503 {width:56px; height:56px; background-position: -1px -59px}
.UISkillIcon504 {width:56px; height:56px; background-position: -1px -59px}
.UISkillIcon505 {width:56px; height:56px; background-position: -1px -117px}
.UISkillIcon506 {width:56px; height:56px; background-position: -1px -175px}
.UISkillIcon507 {width:56px; height:56px; background-position: -59px -1px}
.UISkillIcon508 {width:56px; height:56px; background-position: -59px -59px}
.UISkillIcon509 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon510 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon511 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon512 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon513 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon514 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon515 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon516 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon517 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon518 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon519 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon520 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon521 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon522 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon523 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon524 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon525 {width:56px; height:56px; background-position: -59px -175px}
.UISkillIcon526 {width:56px; height:56px; background-position: -117px -1px}
.UISkillIcon527 {width:56px; height:56px; background-position: -117px -59px}
.UISkillIcon528 {width:56px; height:56px; background-position: -117px -117px}
.UISkillIcon529 {width:56px; height:56px; background-position: -117px -175px}
.UISkillIcon530 {width:56px; height:56px; background-position: -175px -1px}
.UISkillIcon531 {width:56px; height:56px; background-position: -175px -59px}
.UISkillIcon532 {width:56px; height:56px; background-position: -175px -117px}
.UISkillIcon533 {width:56px; height:56px; background-position: -175px -175px}
.UISkillIcon534 {width:56px; height:56px; background-position: -233px -1px}
.UISkillIcon535 {width:56px; height:56px; background-position: -233px -59px}
.UISkillIcon536 {width:56px; height:56px; background-position: -233px -117px}
.UISkillIcon537 {width:56px; height:56px; background-position: -233px -175px}
.UISkillIcon538 {width:56px; height:56px; background-position: -291px -1px}
.UISkillIcon539 {width:56px; height:56px; background-position: -291px -59px}
.UISkillIcon540 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon541 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon542 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon543 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon544 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon545 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon546 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon547 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon548 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon549 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon550 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon551 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon552 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon553 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon554 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon555 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon556 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon557 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon558 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon559 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon560 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon561 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon562 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon563 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon564 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon565 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon566 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon567 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon568 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon569 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon570 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon571 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon572 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon573 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon574 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon575 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon576 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon577 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon578 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon579 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon580 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon581 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon582 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon583 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon584 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon585 {width:56px; height:56px; background-position: -291px -117px}
.UISkillIcon586 {width:56px; height:56px; background-position: -291px -175px}
.UISkillIcon587 {width:56px; height:56px; background-position: -349px -1px}
.UISkillIcon588 {width:56px; height:56px; background-position: -349px -59px}
.UISkillIcon589 {width:56px; height:56px; background-position: -349px -117px}
.UISkillIcon590 {width:56px; height:56px; background-position: -349px -175px}
.UISkillIcon591 {width:56px; height:56px; background-position: -407px -1px}
.UISkillIcon592 {width:56px; height:56px; background-position: -407px -59px}
.UISkillIcon593 {width:56px; height:56px; background-position: -407px -117px}
.UISkillIcon594 {width:56px; height:56px; background-position: -407px -175px}
.UISkillIcon595 {width:56px; height:56px; background-position: -465px -1px}
.UISkillIcon596 {width:56px; height:56px; background-position: -465px -59px}
.UISkillIcon597 {width:56px; height:56px; background-position: -465px -117px}
.UISkillIcon598 {width:56px; height:56px; background-position: -465px -175px}
.UISkillIcon599 {width:56px; height:56px; background-position: -523px -1px}
.UISkillIcon600 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon601 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon602 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon603 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon604 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon605 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon606 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon607 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon608 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon609 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon610 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon611 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon612 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon613 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon614 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon615 {width:56px; height:56px; background-position: -523px -59px}
.UISkillIcon616 {width:56px; height:56px; background-position: -523px -117px}
.UISkillIcon617 {width:56px; height:56px; background-position: -523px -175px}
.UISkillIcon618 {width:56px; height:56px; background-position: -581px -1px}
.UISkillIcon619 {width:56px; height:56px; background-position: -581px -59px}
.UISkillIcon620 {width:56px; height:56px; background-position: -581px -117px}
.UISkillIcon621 {width:56px; height:56px; background-position: -581px -175px}
.UISkillIcon622 {width:56px; height:56px; background-position: -639px -1px}
.UISkillIcon623 {width:56px; height:56px; background-position: -639px -59px}
.UISkillIcon624 {width:56px; height:56px; background-position: -639px -117px}
.UISkillIcon625 {width:56px; height:56px; background-position: -639px -175px}
.UISkillIcon626 {width:56px; height:56px; background-position: -697px -1px}
.UISkillIcon627 {width:56px; height:56px; background-position: -697px -59px}
.UISkillIcon628 {width:56px; height:56px; background-position: -697px -117px}
.UISkillIcon629 {width:56px; height:56px; background-position: -697px -175px}
.UISkillIcon630 {width:56px; height:56px; background-position: -755px -1px}
.UISkillIcon631 {width:56px; height:56px; background-position: -755px -59px}
.UISkillIcon632 {width:56px; height:56px; background-position: -755px -117px}
.UISkillIcon633 {width:56px; height:56px; background-position: -755px -175px}
.UISkillIcon634 {width:56px; height:56px; background-position: -813px -1px}
.UISkillIcon635 {width:56px; height:56px; background-position: -813px -59px}
.UISkillIcon636 {width:56px; height:56px; background-position: -813px -117px}
.UISkillIcon637 {width:56px; height:56px; background-position: -813px -175px}
.UISkillIcon638 {width:56px; height:56px; background-position: -871px -1px}
.UISkillIcon639 {width:56px; height:56px; background-position: -871px -59px}
.UISkillIcon640 {width:56px; height:56px; background-position: -871px -117px}
.UISkillIcon641 {width:56px; height:56px; background-position: -871px -175px}
.UISkillIcon642 {width:56px; height:56px; background-position: -929px -1px}
.UISkillIcon643 {width:56px; height:56px; background-position: -929px -59px}
.UISkillIcon644 {width:56px; height:56px; background-position: -929px -117px}
.UISkillIcon645 {width:56px; height:56px; background-position: -929px -175px}
.UISkillIcon646 {width:56px; height:56px; background-position: -987px -1px}
.UISkillIcon647 {width:56px; height:56px; background-position: -987px -59px}
.UISkillIcon648 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon649 {width:56px; height:56px; background-position: -987px -117px}
.UISkillIcon650 {width:56px; height:56px; background-position: -987px -175px}
.UISkillIcon651 {width:56px; height:56px; background-position: -1045px -1px}
.UISkillIcon652 {width:56px; height:56px; background-position: -1045px -59px}
.UISkillIcon653 {width:56px; height:56px; background-position: -1045px -117px}
.UISkillIcon654 {width:56px; height:56px; background-position: -1045px -175px}
.UISkillIcon655 {width:56px; height:56px; background-position: -1103px -1px}
.UISkillIcon656 {width:56px; height:56px; background-position: -1103px -59px}
.UISkillIcon657 {width:56px; height:56px; background-position: -1103px -117px}
.UISkillIcon658 {width:56px; height:56px; background-position: -1103px -175px}
.UISkillIcon659 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon660 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon661 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon662 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon663 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon664 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon665 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon666 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon667 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon668 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon669 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon670 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon671 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon672 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon673 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon674 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon675 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon676 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon677 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon678 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon679 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon680 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon681 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon682 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon683 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon684 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon685 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon686 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon687 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon688 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon689 {width:56px; height:56px; background-position: -59px -117px}
