/* -----------------------------------------------------
   created with https://www.codeandweb.com/texturepacker 
   -----------------------------------------------------
   $TexturePacker:SmartUpdate:8c50d1bbe053b005208d47753fc600cc:60d34090a094c19b5b85e445f9d71044:652d447548d6536f30b70b56c573ebe8$
   -----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite0-249 {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(/images/skills/skillicon0-249.png);}

.UISkillIcon0 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon1 {width:56px; height:56px; background-position: -1px -59px}
.UISkillIcon10 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon100 {width:56px; height:56px; background-position: -581px -349px}
.UISkillIcon101 {width:56px; height:56px; background-position: -581px -407px}
.UISkillIcon102 {width:56px; height:56px; background-position: -639px -1px}
.UISkillIcon103 {width:56px; height:56px; background-position: -639px -59px}
.UISkillIcon104 {width:56px; height:56px; background-position: -639px -117px}
.UISkillIcon105 {width:56px; height:56px; background-position: -639px -175px}
.UISkillIcon106 {width:56px; height:56px; background-position: -639px -233px}
.UISkillIcon107 {width:56px; height:56px; background-position: -639px -291px}
.UISkillIcon108 {width:56px; height:56px; background-position: -639px -349px}
.UISkillIcon109 {width:56px; height:56px; background-position: -639px -407px}
.UISkillIcon11 {width:56px; height:56px; background-position: -59px -175px}
.UISkillIcon110 {width:56px; height:56px; background-position: -697px -1px}
.UISkillIcon111 {width:56px; height:56px; background-position: -697px -59px}
.UISkillIcon112 {width:56px; height:56px; background-position: -697px -117px}
.UISkillIcon113 {width:56px; height:56px; background-position: -697px -175px}
.UISkillIcon114 {width:56px; height:56px; background-position: -697px -233px}
.UISkillIcon115 {width:56px; height:56px; background-position: -697px -291px}
.UISkillIcon116 {width:56px; height:56px; background-position: -697px -349px}
.UISkillIcon117 {width:56px; height:56px; background-position: -697px -407px}
.UISkillIcon118 {width:56px; height:56px; background-position: -755px -1px}
.UISkillIcon119 {width:56px; height:56px; background-position: -755px -59px}
.UISkillIcon12 {width:56px; height:56px; background-position: -59px -233px}
.UISkillIcon120 {width:56px; height:56px; background-position: -755px -117px}
.UISkillIcon121 {width:56px; height:56px; background-position: -755px -175px}
.UISkillIcon122 {width:56px; height:56px; background-position: -755px -233px}
.UISkillIcon123 {width:56px; height:56px; background-position: -755px -291px}
.UISkillIcon124 {width:56px; height:56px; background-position: -755px -349px}
.UISkillIcon125 {width:56px; height:56px; background-position: -755px -407px}
.UISkillIcon126 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon127 {width:56px; height:56px; background-position: -813px -1px}
.UISkillIcon128 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon129 {width:56px; height:56px; background-position: -813px -59px}
.UISkillIcon13 {width:56px; height:56px; background-position: -59px -291px}
.UISkillIcon130 {width:56px; height:56px; background-position: -813px -117px}
.UISkillIcon131 {width:56px; height:56px; background-position: -813px -175px}
.UISkillIcon132 {width:56px; height:56px; background-position: -813px -233px}
.UISkillIcon133 {width:56px; height:56px; background-position: -813px -291px}
.UISkillIcon134 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon135 {width:56px; height:56px; background-position: -813px -349px}
.UISkillIcon136 {width:56px; height:56px; background-position: -813px -407px}
.UISkillIcon137 {width:56px; height:56px; background-position: -871px -1px}
.UISkillIcon138 {width:56px; height:56px; background-position: -871px -59px}
.UISkillIcon139 {width:56px; height:56px; background-position: -871px -117px}
.UISkillIcon14 {width:56px; height:56px; background-position: -59px -349px}
.UISkillIcon140 {width:56px; height:56px; background-position: -871px -175px}
.UISkillIcon141 {width:56px; height:56px; background-position: -871px -233px}
.UISkillIcon142 {width:56px; height:56px; background-position: -871px -291px}
.UISkillIcon143 {width:56px; height:56px; background-position: -871px -349px}
.UISkillIcon144 {width:56px; height:56px; background-position: -871px -407px}
.UISkillIcon145 {width:56px; height:56px; background-position: -929px -1px}
.UISkillIcon146 {width:56px; height:56px; background-position: -929px -59px}
.UISkillIcon147 {width:56px; height:56px; background-position: -929px -117px}
.UISkillIcon148 {width:56px; height:56px; background-position: -929px -175px}
.UISkillIcon149 {width:56px; height:56px; background-position: -929px -233px}
.UISkillIcon15 {width:56px; height:56px; background-position: -59px -407px}
.UISkillIcon150 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon151 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon152 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon153 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon154 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon155 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon156 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon157 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon158 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon159 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon16 {width:56px; height:56px; background-position: -117px -1px}
.UISkillIcon160 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon161 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon162 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon163 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon164 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon165 {width:56px; height:56px; background-position: -929px -291px}
.UISkillIcon166 {width:56px; height:56px; background-position: -929px -349px}
.UISkillIcon167 {width:56px; height:56px; background-position: -929px -407px}
.UISkillIcon168 {width:56px; height:56px; background-position: -987px -1px}
.UISkillIcon169 {width:56px; height:56px; background-position: -987px -59px}
.UISkillIcon17 {width:56px; height:56px; background-position: -117px -59px}
.UISkillIcon170 {width:56px; height:56px; background-position: -987px -117px}
.UISkillIcon171 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon172 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon173 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon174 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon175 {width:56px; height:56px; background-position: -987px -175px}
.UISkillIcon176 {width:56px; height:56px; background-position: -987px -233px}
.UISkillIcon177 {width:56px; height:56px; background-position: -987px -291px}
.UISkillIcon178 {width:56px; height:56px; background-position: -987px -349px}
.UISkillIcon179 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon18 {width:56px; height:56px; background-position: -117px -117px}
.UISkillIcon180 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon181 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon182 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon183 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon184 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon185 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon186 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon187 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon188 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon189 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon19 {width:56px; height:56px; background-position: -117px -175px}
.UISkillIcon190 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon191 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon192 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon193 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon194 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon195 {width:56px; height:56px; background-position: -987px -407px}
.UISkillIcon196 {width:56px; height:56px; background-position: -1045px -1px}
.UISkillIcon197 {width:56px; height:56px; background-position: -1045px -59px}
.UISkillIcon198 {width:56px; height:56px; background-position: -1045px -117px}
.UISkillIcon199 {width:56px; height:56px; background-position: -1045px -175px}
.UISkillIcon2 {width:56px; height:56px; background-position: -1px -117px}
.UISkillIcon20 {width:56px; height:56px; background-position: -117px -233px}
.UISkillIcon200 {width:56px; height:56px; background-position: -1045px -233px}
.UISkillIcon201 {width:56px; height:56px; background-position: -1045px -291px}
.UISkillIcon202 {width:56px; height:56px; background-position: -1045px -349px}
.UISkillIcon203 {width:56px; height:56px; background-position: -1045px -407px}
.UISkillIcon204 {width:56px; height:56px; background-position: -1103px -1px}
.UISkillIcon205 {width:56px; height:56px; background-position: -1103px -59px}
.UISkillIcon206 {width:56px; height:56px; background-position: -1103px -117px}
.UISkillIcon207 {width:56px; height:56px; background-position: -1103px -175px}
.UISkillIcon208 {width:56px; height:56px; background-position: -1103px -233px}
.UISkillIcon209 {width:56px; height:56px; background-position: -1103px -291px}
.UISkillIcon21 {width:56px; height:56px; background-position: -117px -291px}
.UISkillIcon210 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon211 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon212 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon213 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon214 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon215 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon216 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon217 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon218 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon219 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon22 {width:56px; height:56px; background-position: -117px -349px}
.UISkillIcon220 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon221 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon222 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon223 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon224 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon225 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon226 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon227 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon228 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon229 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon23 {width:56px; height:56px; background-position: -117px -407px}
.UISkillIcon230 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon231 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon232 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon233 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon234 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon235 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon236 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon237 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon238 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon239 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon24 {width:56px; height:56px; background-position: -175px -1px}
.UISkillIcon240 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon241 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon242 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon243 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon244 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon245 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon246 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon247 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon248 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon249 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon25 {width:56px; height:56px; background-position: -175px -59px}
.UISkillIcon26 {width:56px; height:56px; background-position: -175px -117px}
.UISkillIcon27 {width:56px; height:56px; background-position: -175px -175px}
.UISkillIcon28 {width:56px; height:56px; background-position: -175px -233px}
.UISkillIcon29 {width:56px; height:56px; background-position: -175px -291px}
.UISkillIcon3 {width:56px; height:56px; background-position: -1px -175px}
.UISkillIcon30 {width:56px; height:56px; background-position: -175px -349px}
.UISkillIcon31 {width:56px; height:56px; background-position: -175px -407px}
.UISkillIcon32 {width:56px; height:56px; background-position: -233px -1px}
.UISkillIcon33 {width:56px; height:56px; background-position: -233px -59px}
.UISkillIcon34 {width:56px; height:56px; background-position: -233px -117px}
.UISkillIcon35 {width:56px; height:56px; background-position: -233px -175px}
.UISkillIcon36 {width:56px; height:56px; background-position: -233px -233px}
.UISkillIcon37 {width:56px; height:56px; background-position: -233px -291px}
.UISkillIcon38 {width:56px; height:56px; background-position: -233px -349px}
.UISkillIcon39 {width:56px; height:56px; background-position: -233px -407px}
.UISkillIcon4 {width:56px; height:56px; background-position: -1px -233px}
.UISkillIcon40 {width:56px; height:56px; background-position: -291px -1px}
.UISkillIcon41 {width:56px; height:56px; background-position: -291px -59px}
.UISkillIcon42 {width:56px; height:56px; background-position: -291px -117px}
.UISkillIcon43 {width:56px; height:56px; background-position: -291px -175px}
.UISkillIcon44 {width:56px; height:56px; background-position: -291px -233px}
.UISkillIcon45 {width:56px; height:56px; background-position: -291px -291px}
.UISkillIcon46 {width:56px; height:56px; background-position: -291px -349px}
.UISkillIcon47 {width:56px; height:56px; background-position: -291px -407px}
.UISkillIcon48 {width:56px; height:56px; background-position: -349px -1px}
.UISkillIcon49 {width:56px; height:56px; background-position: -349px -59px}
.UISkillIcon5 {width:56px; height:56px; background-position: -1px -291px}
.UISkillIcon50 {width:56px; height:56px; background-position: -349px -117px}
.UISkillIcon51 {width:56px; height:56px; background-position: -349px -175px}
.UISkillIcon52 {width:56px; height:56px; background-position: -349px -233px}
.UISkillIcon53 {width:56px; height:56px; background-position: -349px -291px}
.UISkillIcon54 {width:56px; height:56px; background-position: -349px -349px}
.UISkillIcon55 {width:56px; height:56px; background-position: -349px -407px}
.UISkillIcon56 {width:56px; height:56px; background-position: -407px -1px}
.UISkillIcon57 {width:56px; height:56px; background-position: -407px -59px}
.UISkillIcon58 {width:56px; height:56px; background-position: -407px -117px}
.UISkillIcon59 {width:56px; height:56px; background-position: -407px -175px}
.UISkillIcon6 {width:56px; height:56px; background-position: -1px -349px}
.UISkillIcon60 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon61 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon62 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon63 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon64 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon65 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon66 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon67 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon68 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon69 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon7 {width:56px; height:56px; background-position: -1px -407px}
.UISkillIcon70 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon71 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon72 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon73 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon74 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon75 {width:56px; height:56px; background-position: -407px -291px}
.UISkillIcon76 {width:56px; height:56px; background-position: -407px -349px}
.UISkillIcon77 {width:56px; height:56px; background-position: -407px -407px}
.UISkillIcon78 {width:56px; height:56px; background-position: -465px -1px}
.UISkillIcon79 {width:56px; height:56px; background-position: -465px -59px}
.UISkillIcon8 {width:56px; height:56px; background-position: -59px -1px}
.UISkillIcon80 {width:56px; height:56px; background-position: -465px -117px}
.UISkillIcon81 {width:56px; height:56px; background-position: -465px -175px}
.UISkillIcon82 {width:56px; height:56px; background-position: -465px -233px}
.UISkillIcon83 {width:56px; height:56px; background-position: -465px -291px}
.UISkillIcon84 {width:56px; height:56px; background-position: -465px -349px}
.UISkillIcon85 {width:56px; height:56px; background-position: -465px -407px}
.UISkillIcon86 {width:56px; height:56px; background-position: -523px -1px}
.UISkillIcon87 {width:56px; height:56px; background-position: -523px -59px}
.UISkillIcon88 {width:56px; height:56px; background-position: -523px -117px}
.UISkillIcon89 {width:56px; height:56px; background-position: -523px -175px}
.UISkillIcon9 {width:56px; height:56px; background-position: -59px -59px}
.UISkillIcon90 {width:56px; height:56px; background-position: -523px -233px}
.UISkillIcon91 {width:56px; height:56px; background-position: -523px -291px}
.UISkillIcon92 {width:56px; height:56px; background-position: -523px -349px}
.UISkillIcon93 {width:56px; height:56px; background-position: -523px -407px}
.UISkillIcon94 {width:56px; height:56px; background-position: -581px -1px}
.UISkillIcon95 {width:56px; height:56px; background-position: -581px -59px}
.UISkillIcon96 {width:56px; height:56px; background-position: -581px -117px}
.UISkillIcon97 {width:56px; height:56px; background-position: -581px -175px}
.UISkillIcon98 {width:56px; height:56px; background-position: -581px -233px}
.UISkillIcon99 {width:56px; height:56px; background-position: -581px -291px}
