/* -----------------------------------------------------
   created with https://www.codeandweb.com/texturepacker 
   -----------------------------------------------------
   $TexturePacker:SmartUpdate:e12124fa94de7ca263fff8841f69a582:d89241ccd7c6f6d4a5e148612f07d5ac:652d447548d6536f30b70b56c573ebe8$
   -----------------------------------------------------

   usage: <span class="{-spritename-} sprite"></span>

   replace {-spritename-} with the sprite you like to use

*/

.sprite250-499 {display:inline-block; overflow:hidden; background-repeat: no-repeat;background-image:url(https://i.postimg.cc/bYWKPjQp/skillicon250-499.png);}

.UISkillIcon250 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon251 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon252 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon253 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon254 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon255 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon256 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon257 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon258 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon259 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon260 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon261 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon262 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon263 {width:56px; height:56px; background-position: -1px -59px}
.UISkillIcon264 {width:56px; height:56px; background-position: -1px -117px}
.UISkillIcon265 {width:56px; height:56px; background-position: -1px -175px}
.UISkillIcon266 {width:56px; height:56px; background-position: -1px -233px}
.UISkillIcon267 {width:56px; height:56px; background-position: -1px -291px}
.UISkillIcon268 {width:56px; height:56px; background-position: -1px -349px}
.UISkillIcon269 {width:56px; height:56px; background-position: -1px -407px}
.UISkillIcon270 {width:56px; height:56px; background-position: -59px -1px}
.UISkillIcon271 {width:56px; height:56px; background-position: -59px -59px}
.UISkillIcon272 {width:56px; height:56px; background-position: -59px -117px}
.UISkillIcon273 {width:56px; height:56px; background-position: -59px -175px}
.UISkillIcon274 {width:56px; height:56px; background-position: -59px -233px}
.UISkillIcon275 {width:56px; height:56px; background-position: -59px -291px}
.UISkillIcon276 {width:56px; height:56px; background-position: -59px -349px}
.UISkillIcon277 {width:56px; height:56px; background-position: -59px -407px}
.UISkillIcon278 {width:56px; height:56px; background-position: -117px -1px}
.UISkillIcon279 {width:56px; height:56px; background-position: -117px -59px}
.UISkillIcon280 {width:56px; height:56px; background-position: -117px -117px}
.UISkillIcon281 {width:56px; height:56px; background-position: -117px -175px}
.UISkillIcon282 {width:56px; height:56px; background-position: -117px -233px}
.UISkillIcon283 {width:56px; height:56px; background-position: -117px -291px}
.UISkillIcon284 {width:56px; height:56px; background-position: -117px -349px}
.UISkillIcon285 {width:56px; height:56px; background-position: -117px -407px}
.UISkillIcon286 {width:56px; height:56px; background-position: -175px -1px}
.UISkillIcon287 {width:56px; height:56px; background-position: -175px -59px}
.UISkillIcon288 {width:56px; height:56px; background-position: -175px -117px}
.UISkillIcon289 {width:56px; height:56px; background-position: -175px -175px}
.UISkillIcon290 {width:56px; height:56px; background-position: -175px -233px}
.UISkillIcon291 {width:56px; height:56px; background-position: -175px -291px}
.UISkillIcon292 {width:56px; height:56px; background-position: -175px -349px}
.UISkillIcon293 {width:56px; height:56px; background-position: -175px -407px}
.UISkillIcon294 {width:56px; height:56px; background-position: -233px -1px}
.UISkillIcon295 {width:56px; height:56px; background-position: -233px -59px}
.UISkillIcon296 {width:56px; height:56px; background-position: -233px -117px}
.UISkillIcon297 {width:56px; height:56px; background-position: -233px -175px}
.UISkillIcon298 {width:56px; height:56px; background-position: -233px -233px}
.UISkillIcon299 {width:56px; height:56px; background-position: -59px -291px}
.UISkillIcon300 {width:56px; height:56px; background-position: -233px -291px}
.UISkillIcon301 {width:56px; height:56px; background-position: -233px -349px}
.UISkillIcon302 {width:56px; height:56px; background-position: -233px -407px}
.UISkillIcon303 {width:56px; height:56px; background-position: -291px -1px}
.UISkillIcon304 {width:56px; height:56px; background-position: -291px -59px}
.UISkillIcon305 {width:56px; height:56px; background-position: -291px -117px}
.UISkillIcon306 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon307 {width:56px; height:56px; background-position: -291px -175px}
.UISkillIcon308 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon309 {width:56px; height:56px; background-position: -291px -233px}
.UISkillIcon310 {width:56px; height:56px; background-position: -291px -291px}
.UISkillIcon311 {width:56px; height:56px; background-position: -291px -349px}
.UISkillIcon312 {width:56px; height:56px; background-position: -291px -407px}
.UISkillIcon313 {width:56px; height:56px; background-position: -349px -1px}
.UISkillIcon314 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon315 {width:56px; height:56px; background-position: -349px -59px}
.UISkillIcon316 {width:56px; height:56px; background-position: -349px -117px}
.UISkillIcon317 {width:56px; height:56px; background-position: -349px -175px}
.UISkillIcon318 {width:56px; height:56px; background-position: -349px -233px}
.UISkillIcon319 {width:56px; height:56px; background-position: -349px -291px}
.UISkillIcon320 {width:56px; height:56px; background-position: -349px -349px}
.UISkillIcon321 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon322 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon323 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon324 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon325 {width:56px; height:56px; background-position: -349px -407px}
.UISkillIcon326 {width:56px; height:56px; background-position: -407px -1px}
.UISkillIcon327 {width:56px; height:56px; background-position: -407px -59px}
.UISkillIcon328 {width:56px; height:56px; background-position: -407px -117px}
.UISkillIcon329 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon330 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon331 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon332 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon333 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon334 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon335 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon336 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon337 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon338 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon339 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon340 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon341 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon342 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon343 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon344 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon345 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon346 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon347 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon348 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon349 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon350 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon351 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon352 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon353 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon354 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon355 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon356 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon357 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon358 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon359 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon360 {width:56px; height:56px; background-position: -407px -175px}
.UISkillIcon361 {width:56px; height:56px; background-position: -407px -233px}
.UISkillIcon362 {width:56px; height:56px; background-position: -407px -291px}
.UISkillIcon363 {width:56px; height:56px; background-position: -407px -349px}
.UISkillIcon364 {width:56px; height:56px; background-position: -407px -407px}
.UISkillIcon365 {width:56px; height:56px; background-position: -465px -1px}
.UISkillIcon366 {width:56px; height:56px; background-position: -465px -59px}
.UISkillIcon367 {width:56px; height:56px; background-position: -465px -117px}
.UISkillIcon368 {width:56px; height:56px; background-position: -465px -175px}
.UISkillIcon369 {width:56px; height:56px; background-position: -465px -233px}
.UISkillIcon370 {width:56px; height:56px; background-position: -465px -291px}
.UISkillIcon371 {width:56px; height:56px; background-position: -465px -349px}
.UISkillIcon372 {width:56px; height:56px; background-position: -465px -407px}
.UISkillIcon373 {width:56px; height:56px; background-position: -523px -1px}
.UISkillIcon374 {width:56px; height:56px; background-position: -523px -59px}
.UISkillIcon375 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon376 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon377 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon378 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon379 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon380 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon381 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon382 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon383 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon384 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon385 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon386 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon387 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon388 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon389 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon390 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon391 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon392 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon393 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon394 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon395 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon396 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon397 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon398 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon399 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon400 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon401 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon402 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon403 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon404 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon405 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon406 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon407 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon408 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon409 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon410 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon411 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon412 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon413 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon414 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon415 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon416 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon417 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon418 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon419 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon420 {width:56px; height:56px; background-position: -523px -117px}
.UISkillIcon421 {width:56px; height:56px; background-position: -523px -175px}
.UISkillIcon422 {width:56px; height:56px; background-position: -523px -233px}
.UISkillIcon423 {width:56px; height:56px; background-position: -523px -291px}
.UISkillIcon424 {width:56px; height:56px; background-position: -523px -349px}
.UISkillIcon425 {width:56px; height:56px; background-position: -523px -407px}
.UISkillIcon426 {width:56px; height:56px; background-position: -581px -1px}
.UISkillIcon427 {width:56px; height:56px; background-position: -581px -59px}
.UISkillIcon428 {width:56px; height:56px; background-position: -581px -117px}
.UISkillIcon429 {width:56px; height:56px; background-position: -581px -175px}
.UISkillIcon430 {width:56px; height:56px; background-position: -581px -233px}
.UISkillIcon431 {width:56px; height:56px; background-position: -581px -291px}
.UISkillIcon432 {width:56px; height:56px; background-position: -581px -349px}
.UISkillIcon433 {width:56px; height:56px; background-position: -581px -407px}
.UISkillIcon434 {width:56px; height:56px; background-position: -639px -1px}
.UISkillIcon435 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon436 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon437 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon438 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon439 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon440 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon441 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon442 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon443 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon444 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon445 {width:56px; height:56px; background-position: -639px -59px}
.UISkillIcon446 {width:56px; height:56px; background-position: -639px -117px}
.UISkillIcon447 {width:56px; height:56px; background-position: -639px -175px}
.UISkillIcon448 {width:56px; height:56px; background-position: -639px -233px}
.UISkillIcon449 {width:56px; height:56px; background-position: -639px -291px}
.UISkillIcon450 {width:56px; height:56px; background-position: -639px -349px}
.UISkillIcon451 {width:56px; height:56px; background-position: -639px -407px}
.UISkillIcon452 {width:56px; height:56px; background-position: -697px -1px}
.UISkillIcon453 {width:56px; height:56px; background-position: -697px -59px}
.UISkillIcon454 {width:56px; height:56px; background-position: -697px -117px}
.UISkillIcon455 {width:56px; height:56px; background-position: -697px -175px}
.UISkillIcon456 {width:56px; height:56px; background-position: -697px -233px}
.UISkillIcon457 {width:56px; height:56px; background-position: -697px -291px}
.UISkillIcon458 {width:56px; height:56px; background-position: -697px -349px}
.UISkillIcon459 {width:56px; height:56px; background-position: -697px -407px}
.UISkillIcon460 {width:56px; height:56px; background-position: -755px -1px}
.UISkillIcon461 {width:56px; height:56px; background-position: -755px -59px}
.UISkillIcon462 {width:56px; height:56px; background-position: -755px -117px}
.UISkillIcon463 {width:56px; height:56px; background-position: -755px -175px}
.UISkillIcon464 {width:56px; height:56px; background-position: -755px -233px}
.UISkillIcon465 {width:56px; height:56px; background-position: -755px -291px}
.UISkillIcon466 {width:56px; height:56px; background-position: -755px -349px}
.UISkillIcon467 {width:56px; height:56px; background-position: -755px -407px}
.UISkillIcon468 {width:56px; height:56px; background-position: -813px -1px}
.UISkillIcon469 {width:56px; height:56px; background-position: -813px -59px}
.UISkillIcon470 {width:56px; height:56px; background-position: -813px -117px}
.UISkillIcon471 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon472 {width:56px; height:56px; background-position: -813px -175px}
.UISkillIcon473 {width:56px; height:56px; background-position: -1px -1px}
.UISkillIcon474 {width:56px; height:56px; background-position: -813px -233px}
.UISkillIcon475 {width:56px; height:56px; background-position: -813px -291px}
.UISkillIcon476 {width:56px; height:56px; background-position: -813px -349px}
.UISkillIcon477 {width:56px; height:56px; background-position: -813px -407px}
.UISkillIcon478 {width:56px; height:56px; background-position: -871px -1px}
.UISkillIcon479 {width:56px; height:56px; background-position: -871px -59px}
.UISkillIcon480 {width:56px; height:56px; background-position: -871px -117px}
.UISkillIcon481 {width:56px; height:56px; background-position: -871px -175px}
.UISkillIcon482 {width:56px; height:56px; background-position: -871px -233px}
.UISkillIcon483 {width:56px; height:56px; background-position: -871px -291px}
.UISkillIcon484 {width:56px; height:56px; background-position: -871px -349px}
.UISkillIcon485 {width:56px; height:56px; background-position: -871px -407px}
.UISkillIcon486 {width:56px; height:56px; background-position: -929px -1px}
.UISkillIcon487 {width:56px; height:56px; background-position: -929px -59px}
.UISkillIcon488 {width:56px; height:56px; background-position: -929px -117px}
.UISkillIcon489 {width:56px; height:56px; background-position: -929px -175px}
.UISkillIcon490 {width:56px; height:56px; background-position: -929px -233px}
.UISkillIcon491 {width:56px; height:56px; background-position: -929px -291px}
.UISkillIcon492 {width:56px; height:56px; background-position: -929px -349px}
.UISkillIcon493 {width:56px; height:56px; background-position: -929px -407px}
.UISkillIcon494 {width:56px; height:56px; background-position: -871px -59px}
.UISkillIcon495 {width:56px; height:56px; background-position: -987px -1px}
.UISkillIcon496 {width:56px; height:56px; background-position: -987px -59px}
.UISkillIcon497 {width:56px; height:56px; background-position: -987px -117px}
.UISkillIcon498 {width:56px; height:56px; background-position: -987px -175px}
.UISkillIcon499 {width:56px; height:56px; background-position: -987px -233px}
